<section class="main-content">
  <div class="category-wrapper">
    <div class="side-nav-wrapper">
      <h1>Add a product:</h1>
      <label for="category">Category: </label>

      <select name="category" id="category" [formControl]="categoryForm">
        <option [ngValue]="null">--ALL PRODUCTS--</option>
        <option *ngFor="let cat of categories()" [ngValue]="cat">{{ cat.category_name }}</option>
      </select>

      <p *ngIf="categoriesError()">{{ categoriesError() }}</p>

      <div *ngIf="categoriesWithProducts() as categories">

        <div *ngFor="let category of categories" class="button-grid">
          <br>
          <div *ngFor="let product of category.products">
            <br>
            <!-- <button [routerLink]="['./']" [queryParams]="{product: product.product_name}" queryParamsHandling="merge">{{
              product.product_name }}</button> -->
            <button (click)="setCategoryRoute(product.product_name)"></button>
            <p class="product-name">{{ product.product_name }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-wrapper">
      <div *ngIf="isInCategory()">
        <app-product-detail *ngIf="selectedProduct$ | async as product"
          [selectedProduct]="product"></app-product-detail>
      </div>
      <div *ngIf="!isInCategory() && (selectedProduct$ | async)">Product Not Found in the Selected Category</div>
    </div>
  </div>
</section>